<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <i></i>
        <a href="/ab">Registration</a>
        <a href="/">Homepage</a>
    </nav>
    <div class="container">
        <form method="POST" action="/login">
            <img src="{{ url_for('static', filename='images/otter.png') }}" alt="Logo" class="logo">
            <h2>Login Page</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
